
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

.body {
margin: 0px;
}

:root{
    --main-bg-color:red;
}

.relativa {
position: relative;
margin: 30px;
width: 300px;
height: 300px;
background-color: blue;

}

.relativa:hover {
width: 50%;
background-color: aqua;
border-radius: 50%;
}

.absoluta {
    top: 10px;
    position: absolute;
    left:30px;
    width: 80%;
    height: 10%;
    background-color: rgb(255, 27, 198);
    border-bottom-style: ridge;
    border-bottom-color: black;
    }

.bottom {
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 80%;
    height:10%;
    background-color: rgb(255, 225, 0);
    border-top-style: ridge;
    border-top-color: black;
}

.icono {
    color: rgb(255, 255, 255);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.grid-container {
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer'
    ;
}

.grid-item-header {
    grid-area: header; 
    background-color: crimson;

}
.grid-item-menu {
    grid-area: menu; 
    background-color: rgb(20, 220, 87);
}
.grid-item-main {
    grid-area: main; 
    background-color: rgb(77, 20, 220);
}
.grid-item-footer {
    grid-area: footer; 
    background-color: rgb(200, 220, 20);
}
