
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.header {
    font-family: Arial;
    margin-top: 0%; 
    display: flex;
    flex-direction:initial;
    justify-content:space-between;
    align-items:center;
    padding-bottom: 200px;
    background-image:url(./Images/fondo.jpeg);
    background-size: cover;
    margin: 0px;
}

.header-logo {
    display: flex;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul {
    display: flex;
    margin: 0;
}

.li {
    list-style: none;
    padding: 0 10px;
    font-size: 13px;
}

a {
    font-family: "Arial";
    outline: none;
    text-decoration:none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #8a8a8a;
  }
  
  a:visited {
    color: #8a8a8a;
  }

.logo {
    width: 80px;
    margin-left: 20px;
}

#search {
    width: 300px;
    border-radius: 7px;
    border-width: 1px;
    height: 25px;

}
.fa fa-search {
}

#button-sesion {
    background-color: rgb(47, 47, 255);
    border-color:rgb(47, 47, 255);
    border-radius: 7px;
    border-width: 1px;
    padding: 5px;
    color: white;
}

#button-registro {
    background-color:white;
    border-color: white;
    border-radius: 7px;
    border-width: 1px;
    margin-right: 20px;
    padding: 5px;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 30% 70%;
    display: flex;
    align-content: center;
}

.grid-item-profile {
    background-color:white;
    display: flex;
    justify-content:center;
    align-items:flex-start;
    margin: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial"
  }

  h1 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: .8em;
    text-align: center;
    line-height: 1em;
    color: #8a8a8a;
  }

  .link {
    font-size: .8em;
    font-family: "Arial";
    height:100px;
    outline: none;
    text-decoration:underline;
    font-style:none;
    padding: 2px 1px 0;
    display: flex;
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #button-seguir {
    width: 200px;
    background-color: rgb(47, 47, 255);
    border-color:rgb(47, 47, 255);
    border-radius: 50px;
    border-width: 1px;
    padding: 7px 100px 7px 100px;
    color: white;
    display: flex;
    justify-content: center;
}

#button-mensaje {
    width: 200px;
    background-color: rgb(238, 238, 238);
    border-color:rgb(238, 238, 238);
    border-radius: 50px;
    border-width: 1px;
    color: rgb(47, 47, 255);
    padding: 7px 100px 7px 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.selfie-container {
    display: flex;
    justify-content: center;
}

.selfie {
    margin-top: -60px;
    margin-bottom: 50px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;  
    align-items: center; 
}

.grid-item-images {
    background-color: rgb(249, 249, 249);
    width: 100%;
    display: grid;
    justify-content:center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    align-items:flex-start;
    margin: 30px;
    margin-left: 60px;
    height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 4em;
    row-gap: 4em;
    grid-template-areas:
    "ima ima ima ima";
}

.a1 {
    height:300px;
    background-image:url(./Images/a.png);
}

.a2 {
    height:300px;
    background-image:url(./Images/b.png);
}

.a3 {
    height:300px;
    background-image:url(./Images/c.png);
}

.a4 {
    height:300px;
    background-image:url(./Images/d.png);
}

.a5 {
    height:300px;
    background-image:url(./Images/c.png);
}

.a6 {
    height:300px;
    background-image:url(./Images/f.png);
}

.a7 {
    height:300px;
    background-image:url(./Images/a.png);
}

.a8 {
    height:300px;
    background-image:url(./Images/c.png);
}

.a9 {
    height:300px;
    background-image:url(./Images/e.png);
}